@media screen and (max-width: 480px) {
    .boxA, .boxC, .boxF {
        width: 96vw;
        height: 15vh;
    }
    .boxC {
        margin-left: 7px;
    }
    .df {
        /*flex-direction: column;*/
        flex-wrap: wrap;
    }
    .boxB {
        width: 96vw;
        height: 63vh;
        margin-bottom: 0;
    }
    .boxB2 {
        width: 96vw;
        height: 40vh;
    }
    .boxCDE {
        width: 31vw;
        height: 22vh;
        margin-bottom: 0;
    }
}